.header{
    max-width: var(--max-width);
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.header a{
    align-self: center;
}

/* tablet size */
@media screen and (width <= 800px){
    .navbar{
        display: none;
    }

    .header{
        justify-content: center;
    }
}