.hero{
    width: 100%;
    background-color: var(--primary-green);
}

.hero > div{
    max-width: var(--max-width);
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.hero img{
    max-width: 400px;
    aspect-ratio: 7/8;
    justify-self: end;
    align-self: center;
    border-radius: var(--border-radius);
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hero h1{
    color: var(--primary-yellow);
    font-family: var(--serif-typeface);
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 0;
}

.hero h2{
    color: var(--secondary-white);
    font-family: var(--serif-typeface);
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
}

.hero p{
    color: var(--secondary-white);
    font-family: var(--sans-typeface);
    font-weight: 400;
    font-size: 20px;
    max-width: 30ch;
}

.hero a{
    margin: 20px 0px;
}

/* tablet size */
@media screen and (width <= 800px){
    .hero img{
        width: 300px;
        position: static;
    }
}

/* mobile size */
@media screen and (width <= 625px){
    .hero > div{
        grid-template-columns: 1fr;
    }

    .hero img{
        width: 100%;
        justify-self: center;
    }
}