.reservation > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation > div > img {
    width: 100%;
    height: 30vh;
    filter: brightness(0.5);
    object-fit: cover;
    object-position: 50% 60%;
}

.reservation > div > h3 {
    font-family: var(--serif-typeface);
    font-weight: 500;
    font-size: 64px;
    color: var(--primary-yellow);
    position: absolute;
    text-align: center;
}

/* here goes the form */
form{
    font-family: var(--sans-typeface);
    max-width: var(--max-width);
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;
}

form > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .custom-button{
    padding: 10px 0 10px 0;
    margin: 20px 0;
    grid-column: span 2;
    justify-self: center;
    width: 40%;
}

form label{
    color: var(--secondary-black);
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}

form input,
form select{
    background-color: var(--secondary-white);
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0 0 4px var(--secondary-black);
    color: var(--primary-green);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}

@media screen and (width < 625px){
    .reservation > div > h3 {
        font-size: 48px;
    }

    form .custom-button{
        width: 100%;
    }

    form{
        display: flex;
        flex-direction: column;
    }
}