.specials{
    max-width: var(--max-width);
    padding: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.specials > .title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.title > h3{
    font-family: var(--serif-typeface);
    font-weight: 500;
    font-size: 64px;
    flex: 1;
}

.title > button{
    align-self: center;
    justify-self: end;
}

.specials > .cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.cards-container > article{
    background-color: var(--secondary-white);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.cards-container > article > img{
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 16px 16px 0 0;
}

.cards-container > article > main{
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cards-container main div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards-container h4{
    font-family: var(--serif-typeface);
    font-weight: 500;
    font-size: 26px;
    margin: 0;
    flex: 1;
}

.cards-container small{
    color: var(--secondary-orange);
    font-family: var(--sans-typeface);
    font-weight: 700;
    font-size: 18px;
}

.cards-container p{
    font-family: var(--sans-typeface);
    font-weight: 400;
    font-size: 18px;
    color:  var(--primary-green);
    flex: 1;
}

.cards-container a{
    text-decoration: none;
    color: black;
    font-family: var(--sans-typeface);
    font-weight: 700;
    font-size: 16px;
}

.cards-container a:hover{
    opacity: 0.75;
}

.cards-container a:active{
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: var(--primary-yellow);
    text-decoration-thickness: 2px;
}

/* teblet size */
@media screen and (width <= 800px){
    .title > h3{
        font-size: 48px;
    }

    .specials > .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile size */
@media screen and (width <= 625px){
    .specials > .cards-container{
        grid-template-columns: 100%;
    }

    .title > h3{
        font-size: 40px;
    }
}