/* markazi text typeface */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

/* karla typeface */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+Armenian:wght@100..900&family=Noto+Serif+Armenian:wght@100..900&display=swap');

:root{
    /* max-width */
    --max-width: 1000px;
    --border-radius: 16px;

    /* brand colors */
    --primary-yellow: #F4CE14;
    --primary-green: #495E57;
    --secondary-white: #EDEFEE;
    --secondary-black: #333333;
    --secondary-orange: #EE9972;

    /* typography */
    --serif-typeface: "Markazi Text", serif;
    --sans-typeface: "Karla", sans-serif;
}

.custom-button {
    all: unset;
    display: inline-block;
    padding: 10px 20px;
    font-family: var(--sans-typeface);
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-black);
    background-color: var(--primary-yellow);
    border-radius: var(--border-radius);
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.custom-button:hover {
    opacity: 0.75;
}

.custom-button:not(.disabled-link):active {
    opacity: 1;
}