.testimonials{
    width: 100%;
    background-color: var(--primary-green);
}

.testimonials > div{
    max-width: var(--max-width);
    padding: 48px 20px;
    margin: 0 auto;
}

.testimonials h3{
    text-align: center;
    color: var(--primary-yellow);
    font-family: var(--serif-typeface);
    font-weight: 500;
    font-size: 48px;
    margin-top: 0;
}

.testimonials main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.review{
    background-color: var(--secondary-white);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.review > small{
    font-family: var(--sans-typeface);
    font-size: 16px;
    font-weight: 500;
    align-self: center;
}

.review > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.review img{
    width: 25%;
    border-radius: 100%;
    margin: 10px 0;
}

.review h4{
    font-family: var(--serif-typeface);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.review > q{
    font-family: var(--sans-typeface);
    color: var(--primary-green);
    margin: 10px 0;
    font-style: italic;
    flex: 1;
}

.review > q::before{
    content: open-quote;
    color: var(--primary-yellow);
    font-weight: 900;
}

.review > q::after{
    content: close-quote;
    color: var(--primary-yellow);
    font-weight: 900;
}

/* tablet size */
@media screen and (width <= 800px){
    .testimonials main{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* small mobile size */
@media screen and (width <= 400px){
    .testimonials main{
        grid-template-columns: 100%;
    }

    .review > div{
        flex-direction: column;
        gap: 0;
    }
}